* {
  margin: 0;
  
}

body {
  font-family: "Roboto", sans-serif;
  /* background:  rgb(82, 7, 7); */
}
 /* navbar */
.navbar {
  width: 100%;
  height: 80px;
  background-color: black;
  top: 0;
  position: sticky;
  border: 2px solid #28292c;
}

.navbar-container {
  display: flex;
  align-items: center;
  padding: 0 50px;
  height: 100%;
  color: white;
  font-family: sans-serif;
 

}

.logo-container {
  flex: 1;
}

.logo {
  font-size: 50px;
  font-weight: 700;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: red;
  cursor: pointer;
}

.menu-container {
  flex: 6;
}

.menu-list {
  display: flex;
  list-style: none;
  padding-top: 10px;
}

.menu-list-item {
  margin-right: 30px;
  color: white;
  cursor: pointer;
}

.menu-list-item.active {
  font-weight: bold;
}

.profile-container {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.profile-text-container {
  margin: 0 20px;
  color: white;
}
 
/* sidebar */
.sidebar{
  background: black;
  width: 50px;
  height: 100%;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: 1s ease all;
  padding-top: 100px;
}

.left-menu-icon{
  margin-bottom: 40px;
  color: white;
  font-size: 20px;
  padding-top: 20px;
  padding-left: 10px;
  
  
}
 /* main */
.container {
  background-color:#151515;
  min-height: calc(100vh - 50px);
  color: white;
  margin-top: 8px;
  margin-left: 0;
  max-width: none;
}

.content-container {
  margin-left:40px;
  
 
}


.featured-content {
  height: 450px;
  padding: 50px;
  margin-bottom: 100px;
  
  
}

.featured-desc{
  width: 50px;
  color: lightgray;
  margin: 30px 0;
}

.featured-button{
  background-color: red;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-weight: bold;
}

.movie-list-container {
  padding: 0 20px;
}

.movie-list-wrapper {
  position: relative;
  overflow: hidden;
}

.movie-list-title{
  top: 20px;
  padding-left: 60px;
  
}
.movie-list-sub-title{
  top: 20px;
  padding-left: 60px;
  
}

.movie-list{
  display: flex;
  align-items: center;
  height: 300px;
  transform: translateX(0);
  transition: all 1s ease-in-out;
}


.movie-list-item {
  margin-left: 40px;
  position: relative;
}