* {
  margin: 0;

}

body {
  font-family: "Roboto", sans-serif;
  background: #151515;

}

/* navbar */
.navbar {
  width: 100%;
  height: 80px;
  background-color: black;
  top: 0;
  position: relative;

}

.navbar-container {
  display: flex;
  align-items: center;
  padding: 0 50px;
  height: 100%;
  color: white;
  font-family: sans-serif;


}

.logo-container {
  flex: 1;
}

.logo {
  font-size: 50px;
  font-weight: 700;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: red;
  cursor: pointer;
}

.menu-container {
  flex: 6;
}

.menu-list {
  display: flex;
  list-style: none;
  padding-top: 10px;

}

.menu-list-item {
  margin-right: 30px;
  color: white;
  cursor: pointer;
  margin: 20px;
}

.menu-list-item.active {
  font-weight: bold;
  color:maroon ;
}

.profile-container {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.profile-text-container {
  margin: 0 20px;
  color: white;
}

/* sidebar */
.sidebar {
  background: black;
  width: 50px;
  height: 100%;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: 1s ease all;
  padding-top: 100px;
}

.left-menu-icon {
  margin-bottom: 40px;
  color: white;
  font-size: 20px;
  padding-top: 20px;
  padding-left: 10px;
}

i:hover {
  color: red;
}

/* main */
.container {
  background-color: #151515;
  min-height: calc(100vh - 50px);
  color: white;
  margin-top: 8px;
  margin-left: 0;
  max-width: 1440px;
}


.hero-container {
  margin-left: 40px;
  height: 450px;
  background: url('assets/img/videotape-with-popcorns-3d-glasses.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  width: 100%;
  padding: 50px;
  margin-bottom: 100px;
  position: relative;
}

.title {
  position: absolute;
  top: 400px;
  left: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(122, 5, 5);
  bottom: 100px;
}

.main-title {
  font-size: 45px;
  font-weight: bold;
  font-style: oblique;
  color: #7a0505;
}


.Main-Title {
  background: #151515;

}

.Main-Title {
  margin-left: 90px;
  margin-top: 50px;
  color: white;
}

h2 {
  font-size: 28px;
  margin-left: 90px;
  margin-top: 50px;
  color: white;
}

#nowplaying-movies-container,
#nowplaying-TV-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-left: 40px;
  background: #151515;
  margin-bottom: 150px;
}

.movie,
.Tv {
  width: 150px;
  height: 280px;
  font-family: Arial, sans-serif;
  margin: 50px;
}

img {
  width: 200px;
  height: 300px;
  border-radius: 8px;

}

img:hover {
  cursor: pointer;
  transform: scale(1.1);
  opacity: 0.5;
}

.movie-title,
.Tv-title {
  cursor: pointer;
  font-size: 14px;
  margin-top: 20px;
  font-weight: bold;
  margin-left: 40px;
  color: white;
}

.movie-title:hover,
.Tv-title:hover {
  color: maroon;
}



@media only screen and (max-width: 940px) {
  .menu-container {
    display: none;
  }
}

#active {
  color: maroon;
}

.sidebar a:hover {
  color: #7a0505;
}



@media only screen and (max-width: 940px) {
  .menu-container {
    display: none;
  }
}



.browser-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 90vh;
  margin-left: 50px;
  position: relative;
}

.browser {
  width: 500px;
  height: 60px;
  padding: 10px;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 500;
}

.browser-btn {
  width: 100px;
  height: 60px;
  border: 2px solid white;
  border-radius: 50px;
  color: white;
  background: black;
  margin: 10px;

}

.result-container {
  width: 500px;
}

.movie-poster {
  width: 440px;
}

.footer-container-fluid {
  display: flex;
  flex-direction: row;
  padding: 20px;
  color: #7a0505;
  background: #151515;
  margin-left: 40px;
  width: 100%;
}

/*/////////////////////////////////////////////////////////////*/

.detail-container {
  position: relative;
  min-height: 540px;

}

.img-bg {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  background: linear-gradient(8deg,
      rgb(34, 34, 51) 14%, black 44%);
}

.play-text {
  position: relative;
  top: 330px;
  color: white;
  left: 10px;
  ;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 60px;
  font-size: 20px;
}

.play-text h1 {
  font-size: 45px;
}

.tags {
  color: lightblue;
  display: flex;
  align-items: center;
  column-gap: 8px;
  margin: 1 rem 0;
}

.tags span {
  padding: 0 4px;
}

#play-movie {
  top: 250px;
  border: 2px solid white;
  border-radius: 50%;
  padding: 15px;
  left: 700px;
  color: white;
  font-size: 70px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.watch-btn i {
  background: white;
  color: red;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 10px;

}

.watch {
  top: 10px;
  color: white;
  font-weight: bold;
}

.rating {
  color: rgb(222, 222, 31);
}