* {
  margin: 0;
  
}

body {
  font-family: "Roboto", sans-serif;
}

.navbar {
  width: 100%;
  height: 80px;
  background-color: black;
  top: 0;
  position: sticky;

}

.navbar-container {
  display: flex;
  align-items: center;
  padding: 0 50px;
  height: 100%;
  color: white;
  font-family: sans-serif;

}

.logo-container {
  flex: 1;
}

.logo {
  font-size: 50px;
  font-weight: 700;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: red;
  cursor: pointer;
}

.menu-container {
  flex: 6;
}

.menu-list {
  display: flex;
  list-style: none;
  padding-top: 10px;
}

.menu-list-item {
  margin-right: 30px;
  color: white;
  cursor: pointer;
}

.menu-list-item.active {
  font-weight: bold;
}

.profile-container {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.profile-text-container {
  margin: 0 20px;
  color: white;
}

.sidebar{
  background: black;
  width: 50px;
  height: 100%;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: 1s ease all;
  
}

.left-menu-icon{
  margin-bottom: 40px;
  color: white;
  font-size: 20px;
}

.container {
  background-color: rgb(82, 7, 7);
  min-height: calc(100vh - 50px);
  color: white;
}

.content-container {
  margin-left: 50px;
}


.featured-content {
  height: 50vh;
  padding: 50px;
}

.featured-desc{
  width: 50px;
  color: lightgray;
  margin: 30px 0;
}

.featured-button{
  background-color: red;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-weight: bold;
}

