* {
    margin: 0;

}

body {
    font-family: "Roboto", sans-serif;
    background: #151515;

}

/* navbar */
.navbar {
    width: 100%;
    height: 80px;
    background-color: black;
    top: 0;
    position: relative;

}

.navbar-container {
    display: flex;
    align-items: center;
    padding: 0 50px;
    height: 100%;
    color: white;
    font-family: sans-serif;
}

.logo-container {
    flex: 1;
}

.logo {
    font-size: 50px;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: red;
    cursor: pointer;
}

.menu-container {
    flex: 6;
}

.menu-list {
    display: flex;
    list-style: none;
    padding-top: 10px;
}

.menu-list-item {
    margin-right: 30px;
    color: white;
    cursor: pointer;
}

.menu-list-item.active {
    font-weight: bold;
    color: maroon;

}

.profile-container {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.profile-text-container {
    margin: 0 20px;
    color: white;
}

.navbar-container.active {
    background-color: white;

    color: black;
}


/* sidebar */
.sidebar {
    background: black;
    width: 50px;
    height: 100%;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: 1s ease all;
    padding-top: 100px;
}

.left-menu-icon {
    margin-bottom: 40px;
    color: white;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 10px;


}

#active {
    color: maroon;
}

i:hover {
    color: red;
}


/* main */
.container {
    background-color: #151515;
    min-height: calc(100vh - 50px);
    color: white;
    margin-top: 8px;
    margin-left: 0;
    max-width: none;
}

.content-container {
    margin-left: 40px;


}


/* MOVIELIST */


.Main-Title {
    background: #151515;

}

.Main-Title h1 {
    margin-left: 90px;
    margin-top: 50px;
    color: white;
}

#trending-movies-container,
#tvshows-container,
#popular-movies-container,
#upcomming-movie-container,
#toprated-movie-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: 40px;
    background: #151515;
    margin-bottom: 150px;
}

#popular-tv-container,
#upcomming-tv-container,
#toprated-tv-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: 40px;
    background: #151515;
    margin-bottom: 150px;

}

.movie {
    width: 150px;
    height: 280px;
    font-family: Arial, sans-serif;
    margin: 50px;
}

img {
    width: 200px;
    height: 300px;
    border-radius: 8px;

}

img:hover {
    cursor: pointer;
    transform: scale(1.1);
    opacity: 0.5;
}

.movie-title {
    cursor: pointer;
    font-size: 14px;
    margin-top: 20px;
    font-weight: bold;
    margin-left: 40px;
    color: white;
}

.movie-title:hover {
    color: maroon;
}



a #active-movie:hover {
    color: maroon;
}

@media only screen and (max-width: 940px) {
    .menu-container {
        display: none;
    }
}